.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
body{
margin:0px;
background-color: black;
}
  .slider {
margin:0px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    transition: all 0.5s;
    overflow: hidden;
    padding-left: 0px;

  }
    .slide {
      width: 20%;
      height: 100%;
      position: relative;
      text-align: center;
      transition: 0.5s;
    }
      .slide:nth-child(1) {
        background: url("img/6.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
      }
      .slide:nth-child(2) {
        background: url("img/1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
      }
      .slide:nth-child(3) {
        background: url("img/3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
      }
      .slide:nth-child(4) {
        background: url("img/4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
      }
      .slide:nth-child(5) {
        background: url("img/2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
      }
      .slide:nth-child(6) {
        background: url("img/5.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
      }
      .slide:hover {
        width: 60%;
        cursor: pointer;
      }
  